<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css">
    <title>Name Submission</title>
</head>
<body>

            <div class="card p-3 mb-2">


                        <div class="mt-5">
                            <h2>PLEASE ENTER YOUR NAME.</h2>
                            <form class="post" action="/generate" method="POST">
                            <center><input type="text" class="tbox" name="name"><br>
                            <h2><input type="submit" class="b1" value="SUBMIT" name="a4"></h2></center>
                            <h2 class="b1" style="margin-top: 40px"> Your webcam will start once you click on submit.</h2>
                        </div>
                    </div>






    </form>

</body>
</html>
